/**
 * Cave-Story font, by enigmansmp1824.
 *
 * Link to font: https://fontlibrary.org/es/font/cave-story
 * License: https://creativecommons.org/licenses/by-sa/3.0/
 */
@font-face {
  font-family: 'Cave-Story';
  src: url('../assets/fonts/Cave-Story.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Cave-Story.woff') format('woff'),
       url('../assets/fonts/Cave-Story.ttf') format('truetype'),
       url('../assets/fonts/Cave-Story.svg#Cave-Story') format('svg');

  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
